*{
    background: orangered;
    color: black;
    line-height: 20px;
}
h2{
    color: brown;
}

input, label{
    display: block;
    width: 500px;
}
form{
    padding-bottom: 15px;
}
.yo{
    display: flex;
    justify-content: center;
}
button{
    color: rgb(143, 131, 131);
    background: rgb(134, 8, 8);
    border: none;
}
